{{ define "content" }}
<div class="page-header">
	<h2>{{if eq .Lang 0}}Content Manager{{else if eq .Lang 1}}Gestor
		de Contenidos{{end}}</h2>
</div>
<!--   template "message" . -->

<div class="practice-container">
	{{ range $key, $practice := .PracticeList }}
	<div id={{$practice.Id}} class="panel panel-default practice-panel">
	
	<nav class="navbar navbar-default no-margin-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=#{{$practice.Id}}menu aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
        <ul class="nav navbar-nav navbar-left panel practice-nav">
		<li id={{$practice.Id}} 
		class="nav-item navbar-left action-show-practice-info practice-info-toggle">
			<a href="#">{{$practice.Title}}</a></li>
		<li href='#' id={{$practice.Id}} {{if eq $.Lang 0}}title="Show less"{{else if eq $.Lang 1}}title="Mostrar menos"{{end}}
		class="nav-item navbar-left action-hide-practice-info practice-info-toggle">
			<a href="#">{{$practice.Title}}</a></li>
		</ul>	
		</div>
		
		
		 <div class="collapse navbar-collapse" id={{$practice.Id}}menu>
		 <ul class="nav navbar-nav navbar-right">
		 {{if eq $practice.Visibility true}}
               <li id={{$practice.Id}} class="nav-item visibility-toggle hide-content" {{if eq $.Lang 0}}title="Hide"{{else if eq $.Lang 1}}title="Ocultar"{{end}}>
               <a href=#><span class="glyphicon glyphicon-eye-open"></a>
               </li>
               <li id={{$practice.Id}} class="nav-item visibility-toggle publish-content" {{if eq $.Lang 0}}title="Publish"{{else if eq $.Lang 1}}title="Publicar"{{end}} style="display: none;">
               <a href=#><span class="glyphicon glyphicon-eye-close"></a>
               </li>
          {{else}}
               <li id={{$practice.Id}} class="nav-item visibility-toggle hide-content" {{if eq $.Lang 0}}title="Hide"{{else if eq $.Lang 1}}title="Ocultar"{{end}} style="display: none;">
               <a href="#"><span class="glyphicon glyphicon-eye-open"></a>
               </li>
               <li id={{$practice.Id}} class="nav-item visibility-toggle publish-content" {{if eq $.Lang 0}}title="Publish"{{else if eq $.Lang 1}}title="Publicar"{{end}}>
               <a href="#"><span class="glyphicon glyphicon-eye-close"></a>
               </li>
          {{end}}
               <li class="nav-item">
               <a href="#"><span class="glyphicon glyphicon-edit"></a>
               </li>
               <li class="nav-item"> 
               <a href="#"><span class="glyphicon glyphicon-floppy-save"></span></a>
               </li>
               <li id={{$practice.Id}} class="nav-item remove-content" {{if eq $.Lang 0}}title="Remove"{{else if eq $.Lang 1}}title="Eliminar"{{end}}> 
               <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
               </li> 
           </ul>
		 </div></div></nav>
		<div id={{$practice.Id}} class="panel-body remove-confirmation">
			<b>{{if eq $.Lang 0}}Are you sure you want to remove this content?{{else if eq $.Lang 1}}¿Está usted seguro de que desea eliminar este contenido?{{end}}</b><br>
			<div><button type="button" id={{$practice.Id}} class="btn btn-danger remove-confirmation-btn"><span class="glyphicon glyphicon-ok"></span> {{if eq $.Lang 0}}Remove{{else if eq $.Lang 1}}Eliminar{{end}}</button><button type="button" id={{$practice.Id}} class="btn remove-cancel-btn"><span class="glyphicon glyphicon-remove"></span> {{if eq $.Lang 0}}Cancel{{else if eq $.Lang 1}}Cancelar{{end}}</button></div>
		<hr class="no-margin">
		</div>
		<div id={{$practice.Id}} class="panel-body practice-info-body">
			<b>{{if eq $.Lang 0}}Description{{else if eq $.Lang 1}}Descripci&oacute;n{{end}}</b><br>
			{{$practice.Description}}<br> <br>
			<b><a href=/practice/{{$practice.Id}}/file/{{$practice.Main_File}} target="_blank">{{if eq $.Lang 0}}Instructions{{else if eq $.Lang 1}}Instrucciones{{end}}</a></b><br>
			{{ $length := len $practice.AttachmentList }}
			{{ if ne $length 0 }}
				<br> <b>{{if eq $.Lang 0}}Attachments{{else if eq $.Lang 1}}Archivos Adjuntos{{end}} :</b><br>
				{{ range $key, $value := $practice.AttachmentList }}
					<a href=/practice/{{$practice.Id}}/file/{{$value}}>{{$value}}</a><br>
				{{ end }}
			{{ end }}
			{{ $length := len $practice.LinkList }}
			{{ if ne $length 0 }}
				<br> <b>{{if eq $.Lang 0}}Links{{else if eq $.Lang 1}}Enlaces{{end}} :</b><br>
				{{ range $key, $value:= $practice.LinkList }}
					<a href={{$value}} target="_blank">{{$value}}</a><br>
				{{ end }}
			{{ end }} <br>
			<button id={{$practice.Id}} {{if eq $.Lang 0}}title="Show more"{{else if eq $.Lang 1}}title="Mostrar m&aacute;s"{{end}}
			class="action-hide-practice-info">Hide</button>
		</div>
	</div>
	{{ end }}
</div>

<script src="{{ .Static }}js/practices.js"></script>
{{ end }}
